<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!-- Menu -->
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    <li><a href="{{ path('app_professeur_index') }}">Professeurs</a></li> <!-- Lien vers la liste des professeurs -->
                    <li><a href="{{ path('course_index') }}">Cours</a></li> <!-- Lien vers la liste des cours -->
                {% else %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
            </ul>
        </nav>

        <!-- Section utilisateur -->
        <div>
            {% if app.user %}   
                <p>Vous êtes connecté avec l'email : {{ app.user.email }}</p>
            {% else %}
                <p>Vous n'êtes pas connecté.</p>
            {% endif %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
